#root {
  --lightpink: #ffc0c0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: 'Roboto Condensed', sans-serif; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.app {
  color: #373d3f;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  height: 100%;
}

.panel-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  /* padding: 3px 3px 3px 3px; */
  width: 100%;
  height: 100%;
}

.panel-title-bar {
  width: 100%;
  height: 48px;
  display: flex;
}

.panel-title-text {
  cursor: move;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  height: 34px;
  padding: 10px 0px 0px 8px;
  font-weight: bold;
  color: #fff;
}

.panel-title-circle-icon-container {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 10px 0px 0px 10px;
}

.panel-title-quality-icon-container {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 10px 4px 0px 0px;
}

.panel-widget-container {
  width: 100%;
  margin-top: 3px;
  height: calc(100% - 37px);
}

/* Estilo del tirador de cambio de tamaño de columnas situado entre las
 * columnas de la cabecera de las tablas react-table cuando aún no se
 * está realizando el redimensionamiento.
 */
.mi-rt-col-resizer {
    display: inline-block;
    cursor: col-resize;
    width: 32px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 999;
}

/* Estilo del tirador de cambio de tamaño de columnas situado entre las
 * columnas de la cabecera de las tablas react-table cuando se está
 * arrastrando para redimensionar las columnas.
 */
.mi-rt-col-resizing {
    display: inline-block;    
    cursor: col-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;    
}

.color-ok {
  color: #198754;;
}

.color-warning {
  color: #ffc107;
}

.color-error {
  color: #dc3545;
}

.bg-color-ok {
  background-color: #198754;;
}

.bg-color-warning {
  background-color: #ffc107;
}

.bg-color-error {
  background-color: #dc3545;
}
